<a href="https://colab.research.google.com/github/Adity-star/Data-Science-Work/blob/main/Feature_Selection_method_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## `Task` Do feature selection as per metods taught is session 54 on SECOM dataset.

Dataset Link : https://archive.ics.uci.edu/ml/datasets/SECOM

Drive Link : https://docs.google.com/spreadsheets/d/1dFCe1zgokabsiEr6BbWmMJtiMefkrChpJWLiG_0dDkk/edit?usp=share_link

In [ ]:
# Write your Code here

### `Solution`

In [ ]:
import pandas as pd

data = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQtBXo5cBnDsM2fmfHPm6u72KGUS5FjPHNGMxOfYjA9-CAhmnRpwkIw_rOR3sANJIToiUU__6fbBvig/pub?gid=572763137&single=true&output=csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Columns: 592 entries, Time to Pass/Fail
dtypes: float64(590), int64(1), object(1)
memory usage: 7.1+ MB

In [ ]:
import numpy as np

In [ ]:
data.head()

,Time,0,1,2,3,4,5,6,7,8,...,581,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1
2,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,...,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1
3,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,...,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1
4,2008-07-19 15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,...,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Columns: 592 entries, Time to Pass/Fail
dtypes: float64(590), int64(1), object(1)
memory usage: 7.1+ MB

In [ ]:
data = data.drop('Time',axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

for column in data.columns:


 data_min = data[column].min()
 data_max = data[column].max()

 random_values = np.random.uniform(data_min,data_max, size=data[column].isnull().sum() )


 random_series = pd.Series(random_values,index =data[column][data[column].isnull()].index )

 data[column].fillna(random_series,inplace = True)

<ipython-input-7-876f84ff247a>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(random_series,inplace = True)

In [ ]:
data[column].isnull().sum()

0

In [ ]:
x = data.drop('Pass/Fail',axis = 1)
y = data['Pass/Fail']


X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=42)

print(X_train.shape)
print(Y_train.shape)

log_reg = LogisticRegression(max_iter=10000)
log_reg.fit(X_train,Y_train)

y_pred = log_reg.predict(X_test)

accuracy = accuracy_score(Y_test,y_pred)
print(accuracy)

(1253, 590)
(1253,)
0.8630573248407644

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold, SelectKBest, chi2, f_classif
from scipy.stats import pearsonr

In [ ]:
data_path = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQtBXo5cBnDsM2fmfHPm6u72KGUS5FjPHNGMxOfYjA9-CAhmnRpwkIw_rOR3sANJIToiUU__6fbBvig/pub?gid=572763137&single=true&output=csv"

# Load the dataset
data = pd.read_csv(data_path)

duplicate_col = data.columns[data.T.duplicated()]

data = data.drop(columns=duplicate_col)


data.drop('Time', inplace=True, axis=1)


# Numbers Of Columns after removing Duplicate columns
print("Number of Columns - ", data.shape[1])
print("Number of Columns after removing duplicate columns- ", data.shape[1])

Number of Columns -  487
Number of Columns after removing duplicate columns-  487

Index(['149', '179', '186', '189', '191', '192', '193', '194', '226', '229',
       ...
       '529', '530', '531', '532', '533', '534', '535', '536', '537', '538'],
      dtype='object', length=104)

In [ ]:
# Variance Threshold Method
Selector = VarianceThreshold(threshold=0.01)
sel = Selector.fit(data)

columns = data.columns[sel.get_support()]

data_vt = sel.transform(data)

data_vt = pd.DataFrame(data_vt, columns=columns)
print("Number of Columns after Variance Threshold Method- ", data_vt.shape[1])

Number of Columns after Variance Threshold Method-  315

In [ ]:
corr_matrix = data_vt.corr().abs()
upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool_))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.8)]
data_corr = data_vt.drop(to_drop, axis=1)

# Numbers Of Columns after Variance Threshold Method

print("Number of Columns after Correlation- ", data_corr.shape[1])

Number of Columns after Correlation-  162

In [ ]:
from scipy.stats import f_oneway

# Significance Value
alpha = 0.05

# Columns haveing p_value less than alpha
column_pvalues = []

# Iterate over each column
for column in data_corr.iloc[:, :-1].columns:
    # Extract the non-missing values in the column
    column_data = data_corr[column].dropna()

    # Perform ANOVA with the target variable
    anova_result = f_oneway(column_data, data_corr['Pass/Fail'])

    # Print the ANOVA result or perform further analysis
    print(f"Column: {column} - ANOVA p-value: {anova_result.pvalue}")

    if anova_result.pvalue <= alpha:
        column_pvalues.append((column, anova_result.pvalue))

# Selecting best 100 Features - lower p-value better feature
# Sort the column p-values in ascending order
column_pvalues.sort(key=lambda x: x[1])

# Select the top 100 columns with the lowest p-values
selected_columns = [column for column, _ in column_pvalues[:100]]

data_anova = data_corr[selected_columns+['Pass/Fail']]

print("Number of Columns after Correlation- ", data_anova.shape[1])

Column: 0 - ANOVA p-value: 0.0
Column: 1 - ANOVA p-value: 0.0
Column: 2 - ANOVA p-value: 0.0
Column: 3 - ANOVA p-value: 0.0
Column: 4 - ANOVA p-value: 0.0003805229753154665
Column: 6 - ANOVA p-value: 0.0
Column: 12 - ANOVA p-value: 0.0
Column: 14 - ANOVA p-value: 0.0
Column: 15 - ANOVA p-value: 0.0
Column: 16 - ANOVA p-value: 0.0
Column: 18 - ANOVA p-value: 0.0
Column: 19 - ANOVA p-value: 0.0
Column: 21 - ANOVA p-value: 0.0
Column: 22 - ANOVA p-value: 0.0
Column: 23 - ANOVA p-value: 0.0
Column: 24 - ANOVA p-value: 5.021119420792319e-05
Column: 25 - ANOVA p-value: 0.0
Column: 28 - ANOVA p-value: 0.0
Column: 29 - ANOVA p-value: 0.0
Column: 31 - ANOVA p-value: 0.0
Column: 32 - ANOVA p-value: 0.0
Column: 33 - ANOVA p-value: 0.0
Column: 34 - ANOVA p-value: 0.0
Column: 35 - ANOVA p-value: 0.0
Column: 37 - ANOVA p-value: 0.0
Column: 38 - ANOVA p-value: 0.0
Column: 39 - ANOVA p-value: 0.0
Column: 40 - ANOVA p-value: 0.0
Column: 41 - ANOVA p-value: 0.0
Column: 43 - ANOVA p-value: 0.0
Column: 44 - ANOVA p-value: 0.0
Column: 45 - ANOVA p-value: 0.0
Column: 47 - ANOVA p-value: 0.0
Column: 48 - ANOVA p-value: 0.0
Column: 51 - ANOVA p-value: 0.0
Column: 55 - ANOVA p-value: 0.0
Column: 59 - ANOVA p-value: 1.2552004335164544e-54
Column: 61 - ANOVA p-value: 0.0
Column: 62 - ANOVA p-value: 0.0
Column: 63 - ANOVA p-value: 0.0
Column: 64 - ANOVA p-value: 0.0
Column: 67 - ANOVA p-value: 0.023676043778288868
Column: 68 - ANOVA p-value: 0.0
Column: 71 - ANOVA p-value: 0.0
Column: 72 - ANOVA p-value: 0.0
Column: 74 - ANOVA p-value: 0.0
Column: 83 - ANOVA p-value: 0.0
Column: 88 - ANOVA p-value: 0.0
Column: 90 - ANOVA p-value: 0.0
Column: 96 - ANOVA p-value: 0.0
Column: 110 - ANOVA p-value: 0.0
Column: 111 - ANOVA p-value: 0.0
Column: 115 - ANOVA p-value: 0.0
Column: 117 - ANOVA p-value: 0.0
Column: 120 - ANOVA p-value: 0.0
Column: 122 - ANOVA p-value: 0.0
Column: 123 - ANOVA p-value: 0.0
Column: 125 - ANOVA p-value: 0.0
Column: 126 - ANOVA p-value: 0.0
Column: 128 - ANOVA p-value: 0.0
Column: 129 - ANOVA p-value: 1.0535630316652931e-20
Column: 133 - ANOVA p-value: 0.0
Column: 134 - ANOVA p-value: 0.0
Column: 135 - ANOVA p-value: 0.0
Column: 136 - ANOVA p-value: 0.0
Column: 137 - ANOVA p-value: 0.0
Column: 138 - ANOVA p-value: 0.0
Column: 139 - ANOVA p-value: 0.0
Column: 142 - ANOVA p-value: 0.0
Column: 150 - ANOVA p-value: 0.0
Column: 151 - ANOVA p-value: 1.4166449051091726e-76
Column: 158 - ANOVA p-value: 0.0
Column: 159 - ANOVA p-value: 3.873435589966139e-233
Column: 160 - ANOVA p-value: 1.3135685778323096e-263
Column: 161 - ANOVA p-value: 5.651686388148162e-260
Column: 162 - ANOVA p-value: 8.401617720519068e-164
Column: 163 - ANOVA p-value: 0.0
Column: 166 - ANOVA p-value: 0.0
Column: 167 - ANOVA p-value: 0.0
Column: 169 - ANOVA p-value: 0.0
Column: 170 - ANOVA p-value: 0.0
Column: 175 - ANOVA p-value: 0.0
Column: 177 - ANOVA p-value: 0.0
Column: 180 - ANOVA p-value: 0.0
Column: 181 - ANOVA p-value: 0.0
Column: 182 - ANOVA p-value: 0.0
Column: 183 - ANOVA p-value: 0.0
Column: 184 - ANOVA p-value: 0.0
Column: 185 - ANOVA p-value: 0.0
Column: 188 - ANOVA p-value: 0.0
Column: 195 - ANOVA p-value: 0.0
Column: 198 - ANOVA p-value: 0.0
Column: 200 - ANOVA p-value: 0.0
Column: 201 - ANOVA p-value: 0.0
Column: 208 - ANOVA p-value: 0.0
Column: 218 - ANOVA p-value: 0.0
Column: 223 - ANOVA p-value: 0.0
Column: 245 - ANOVA p-value: 5.80826161681738e-107
Column: 255 - ANOVA p-value: 0.0
Column: 268 - ANOVA p-value: 0.0
Column: 269 - ANOVA p-value: 0.0
Column: 416 - ANOVA p-value: 0.0
Column: 417 - ANOVA p-value: 0.0
Column: 418 - ANOVA p-value: 0.0
Column: 419 - ANOVA p-value: 9.552745614823107e-257
Column: 423 - ANOVA p-value: 0.0
Column: 426 - ANOVA p-value: 0.0
Column: 429 - ANOVA p-value: 2.8546782689906276e-183
Column: 432 - ANOVA p-value: 7.812152995013836e-189
Column: 433 - ANOVA p-value: 7.717688534101183e-240
Column: 438 - ANOVA p-value: 0.0
Column: 439 - ANOVA p-value: 0.0
Column: 442 - ANOVA p-value: 0.0
Column: 443 - ANOVA p-value: 0.0
Column: 444 - ANOVA p-value: 0.0
Column: 460 - ANOVA p-value: 0.0
Column: 468 - ANOVA p-value: 6.409943849569832e-267
Column: 472 - ANOVA p-value: 0.0
Column: 474 - ANOVA p-value: 0.0
Column: 476 - ANOVA p-value: 0.0
Column: 482 - ANOVA p-value: 0.0
Column: 483 - ANOVA p-value: 1.92856351133e-312
Column: 484 - ANOVA p-value: 2.61571078101574e-284
Column: 485 - ANOVA p-value: 9.761371762975727e-244
Column: 486 - ANOVA p-value: 2.6860343455175406e-303
Column: 487 - ANOVA p-value: 3.675565124765342e-238
Column: 488 - ANOVA p-value: 0.0
Column: 489 - ANOVA p-value: 0.0
Column: 491 - ANOVA p-value: 0.0
Column: 492 - ANOVA p-value: 0.0
Column: 493 - ANOVA p-value: 0.0
Column: 494 - ANOVA p-value: 4.251939667888049e-27
Column: 496 - ANOVA p-value: 0.0
Column: 499 - ANOVA p-value: 1.3626860172168723e-196
Column: 500 - ANOVA p-value: 2.2063853113344103e-170
Column: 510 - ANOVA p-value: 0.0
Column: 511 - ANOVA p-value: 8.521260175759374e-208
Column: 519 - ANOVA p-value: 7.913113072865541e-183
Column: 520 - ANOVA p-value: 1.0658612203668937e-122
Column: 521 - ANOVA p-value: 1.7490564973490379e-06
Column: 523 - ANOVA p-value: 3.9933876625832445e-35
Column: 525 - ANOVA p-value: 0.0
Column: 526 - ANOVA p-value: 0.0
Column: 539 - ANOVA p-value: 0.0
Column: 546 - ANOVA p-value: 0.0
Column: 547 - ANOVA p-value: 0.0
Column: 548 - ANOVA p-value: 0.0
Column: 549 - ANOVA p-value: 0.0
Column: 550 - ANOVA p-value: 0.0
Column: 551 - ANOVA p-value: 0.0
Column: 559 - ANOVA p-value: 0.0
Column: 562 - ANOVA p-value: 0.0
Column: 563 - ANOVA p-value: 0.0
Column: 564 - ANOVA p-value: 0.0
Column: 569 - ANOVA p-value: 0.0
Column: 570 - ANOVA p-value: 0.0
Column: 571 - ANOVA p-value: 0.0
Column: 572 - ANOVA p-value: 4.082424901870454e-40
Column: 573 - ANOVA p-value: 0.0
Column: 581 - ANOVA p-value: 2.0775704433733e-310
Column: 585 - ANOVA p-value: 2.7656e-319
Number of Columns after Correlation-  101

In [ ]:
print("Shape - ", data_anova.shape)

Shape -  (1567, 101)

In [ ]:
for column in data_anova.columns:
    # print("Column- ", column)
    # Get the minimum and maximum values of the column
    min_value = data_anova[column].min()
    max_value = data_anova[column].max()

    # Generate random numbers within the range
    random_values = np.random.uniform(min_value, max_value, size=data_anova[column].isnull().sum())

    # Create a Series with the random values
    random_series = pd.Series(random_values, index=data_anova[column][data_anova[column].isnull()].index)

    # Fill NaN values with the random series
    data_anova[column].fillna(random_series, inplace=True)

<ipython-input-22-5e29a0229a5a>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_anova[column].fillna(random_series, inplace=True)
<ipython-input-22-5e29a0229a5a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_anova[column].fillna(random_series, inplace=True)

In [ ]:
X = data_anova.drop('Pass/Fail', axis=1)
y = data_anova['Pass/Fail']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)


# Initialize and train logistic regression model
log_reg = LogisticRegression(max_iter=10000)  # Increase max_iter if it doesn't converge
log_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = log_reg.predict(X_test)

# Calculate and print accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Test accuracy:", accuracy)

(1253, 100)
(314, 100)
Test accuracy: 0.9140127388535032

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(